# Python Basics Practice

In [1]:
print('Welcome to python for Data Science')

Welcome to python for Data Science

# Strings

In [2]:
message = 'Men\'s World'
print(message)

Men's World

In [3]:
message1 = "Men's Universe"
print(message1)

Men's Universe

In [4]:
message2 = 'Hello Najaf'
print(len(message2)) # include Space

11

# String Slicing

In [5]:
print(message2[0])
print(message2[-1])
print(message2[0:5])
print(message2[:5])
print(message2[6:])

H
f
Hello
Hello
Najaf

# Strings Methods

In [6]:
print(message2.upper())
print(message2.lower())
print(message2.count('a'))
print(message2.capitalize())
print(message2.replace('Najaf','Ali')) # We have to save it in another variable it doesnot effect origional
print(message2.find('Najaf'))
print(message2.find('Ali')) # Replaces but it doesnot effect origional So -1

HELLO NAJAF
hello najaf
2
Hello najaf
Hello Ali
6
-1

# F String

In [7]:
message3 = 'Zawar'
print(message2 + ' ' + message3 + ', '+ 'Welcome!') # OLD Method
print('{} {}, Welcome!'.format(message2, message3)) # New Method
print(f'{message2.upper()} {message3}, Welcome!') # Now We used this Method

Hello Najaf Zawar, Welcome!
Hello Najaf Zawar, Welcome!
HELLO NAJAF Zawar, Welcome!

In [8]:
#print(dir(message)) # Gives us all functions name

In [9]:
#print(help(str)) # Gives us all functions name with Information

# Integeres & Floats

In [10]:
num1 = 5
num2 = 5.5
print(type(num1)) # Tell us type of variable
print(type(num2))

<class 'int'>
<class 'float'>

# Arthematic Operation

In [11]:
print(8 + 3) # Addition
print(8 - 3) # Subtraction
print(8 * 3) # Multiplication
print(8 ** 3) # Square
print(8 / 3) # Division
print(8 // 3) #Floor Division

11
5
24
512
2.6666666666666665
2

# More with Int & Floats

In [12]:
num3 = 2
num3 = num3 +1  # 1 Increment method
print(num3)
num3 += 1      # 2 Increment method (Mostly used)
print(num3)
num3 *= 10
print(num3)

3
4
40

In [13]:
print(abs(-5)) # Convert Negative to Positive

5

In [14]:
print(round(3.75))
print(round(3.75, 1))  # Round of the number at first decimal place
print(round(3.75265, 2))  # Round of the number at second decimal place

4
3.8
3.75

# Lists

In [15]:
my_list = ['History','Math','Physics','CompScience']
print(len(my_list)) # Length of list

4

# List Slicing

In [16]:
print(my_list[0]) # Print 1st item of list

History

In [17]:
print(my_list[-1]) # Print last item of list

CompScience

In [18]:
print(my_list[0:2])
print(my_list[:2])

['History', 'Math']
['History', 'Math']

In [19]:
print(my_list[2:])

['Physics', 'CompScience']

# List Methods

In [20]:
my_list.append('Art') # Art can be added in the end of list
print(my_list)

['History', 'Math', 'Physics', 'CompScience', 'Art']

In [21]:
my_list.insert(0, 'AI') # Insert at given index
print(my_list)

['AI', 'History', 'Math', 'Physics', 'CompScience', 'Art']

In [22]:
courses = ['ITC', 'Web']
my_list.extend(courses) # We use extend when we have multiple values & add values properly
print(my_list)

['AI', 'History', 'Math', 'Physics', 'CompScience', 'Art', 'ITC', 'Web']

In [23]:
core_courses = ['OOP', 'DSA']
courses.insert(0,core_courses)
print(courses)

[['OOP', 'DSA'], 'ITC', 'Web']

In [24]:
extra_courses = ['PakStudy', 'ISL']
courses.append(extra_courses)
print(courses)

[['OOP', 'DSA'], 'ITC', 'Web', ['PakStudy', 'ISL']]

In [25]:
print(my_list)
my_list.remove('Math') # Remove given item form list
print(my_list)
my_list.pop() # Remove item from last & we can grab the item using another variable for use
print(my_list)

['AI', 'History', 'Math', 'Physics', 'CompScience', 'Art', 'ITC', 'Web']
['AI', 'History', 'Physics', 'CompScience', 'Art', 'ITC', 'Web']
['AI', 'History', 'Physics', 'CompScience', 'Art', 'ITC']

In [26]:
my_list.reverse() # Reverse the List
print(my_list)

['ITC', 'Art', 'CompScience', 'Physics', 'History', 'AI']

In [27]:
sorted_list = sorted (my_list) # if we donot want to change the origional array
print(sorted_list)
print(my_list) # After Sorting our origional list is not changed
my_list.sort() # Sort origional list Alphabetically or ascending
print(my_list)

['AI', 'Art', 'CompScience', 'History', 'ITC', 'Physics']
['ITC', 'Art', 'CompScience', 'Physics', 'History', 'AI']
['AI', 'Art', 'CompScience', 'History', 'ITC', 'Physics']

In [28]:
nums = [3,5,12,43,7,8]
print(min(nums))  # Display Minimum number in list
print(max(nums))  # Display Maximium number in list
print(sum(nums))  # Display Sum of list

3
43
78

# Finding item from list

In [29]:
print(my_list)
print(my_list.index('Physics'))
print('Art' in my_list)
print('Math' in my_list)

['AI', 'Art', 'CompScience', 'History', 'ITC', 'Physics']
5
True
False

In [30]:
for index,course in enumerate(my_list):
    print(index, course)

0 AI
1 Art
2 CompScience
3 History
4 ITC
5 Physics

In [31]:
for index,course in enumerate(my_list,1):  # Display all subjects but index them from 1 to so on
    print(index, course)

1 AI
2 Art
3 CompScience
4 History
5 ITC
6 Physics

# Convert List to String

In [32]:
print(my_list)
course_str = ','.join(my_list)
print(course_str)
course_str_2 = '-'.join(my_list)
print(course_str_2)
print(my_list)

['AI', 'Art', 'CompScience', 'History', 'ITC', 'Physics']
AI,Art,CompScience,History,ITC,Physics
AI-Art-CompScience-History-ITC-Physics
['AI', 'Art', 'CompScience', 'History', 'ITC', 'Physics']

In [33]:
new_list = course_str.split(',')  # we use here "," or "-" which we used while converting from list to string Compulsary
new_list_2= course_str_2.split('-')
print(new_list)
print(new_list_2)

['AI', 'Art', 'CompScience', 'History', 'ITC', 'Physics']
['AI', 'Art', 'CompScience', 'History', 'ITC', 'Physics']

# Tuple

In [34]:
my_tuple =  ('History','Math','Physics','CompScience') # Tuples are Immutable(Can't Modify)
print(my_tuple)

('History', 'Math', 'Physics', 'CompScience')

In [35]:
my_tuple[1] # To find the value we use square bracket

'Math'

# Tuple Method

In [36]:
my_tuple.count('Math')

1

In [37]:
my_tuple.index('History')

0

# Sets

In [38]:
#Sets only contain unique value and & donot care about order of items
cs_courses = {'History','Math','Physics','CompScience','Math'}
art_courses = {'History','Math','Physics','Art','Design'}

In [39]:
print(cs_courses)
print(art_courses)

{'History', 'CompScience', 'Math', 'Physics'}
{'Design', 'History', 'Art', 'Math', 'Physics'}

In [40]:
print('Math' in cs_courses)
print('Design' in cs_courses)

True
False

# Sets Methods

In [41]:
print(cs_courses.intersection(art_courses))

{'History', 'Math', 'Physics'}

In [42]:
print(cs_courses.difference(art_courses))

{'CompScience'}

In [43]:
print(art_courses.difference(cs_courses))

{'Art', 'Design'}

In [44]:
print(cs_courses.union(art_courses))

{'Design', 'Art', 'CompScience', 'Math', 'History', 'Physics'}

# How to Create Empty List , Tuple , Set

# List

In [45]:
empty_lst =[]
# OR
empty_list = list()

# Tuple

In [46]:
empty_tup = ()
# OR
empty_tuple = tuple()

# Sets

In [47]:
# empty_set = {}   We cannot create empty set like this
empty_set = set()  # Correct Way

# Dictonaries

In [48]:
my_dict = {'name':'Ali', 'age': 25, 'courses':['Math','PakStudy']} # keys & values could be of any type

In [49]:
print(my_dict)

{'name': 'Ali', 'age': 25, 'courses': ['Math', 'PakStudy']}

# Dictionary Method

In [50]:
print(my_dict['name']) # In dictionary we can access values through keys its not a good method

Ali

In [51]:
my_dict.get('name')

'Ali'

In [52]:
my_dict.get('id') # I gives us none but here not displayed

In [53]:
my_dict.get('id','Not Found')

'Not Found'

In [54]:
my_dict['name'] = 'Mahdi' # We can do this but not good method
print(my_dict)

{'name': 'Mahdi', 'age': 25, 'courses': ['Math', 'PakStudy']}

In [55]:
my_dict.update({'name':'Hussain', 'age':'25', 'phone':555})
print(my_dict)

{'name': 'Hussain', 'age': '25', 'courses': ['Math', 'PakStudy'], 'phone': 555}

In [56]:
del my_dict['age'] # we cannot save value when using this deleted function
print(my_dict)

{'name': 'Hussain', 'courses': ['Math', 'PakStudy'], 'phone': 555}

In [57]:
phone_no = my_dict.pop('phone')  # using pop we can save our value
print(phone_no)

555

In [58]:
print(my_dict)
print(len(my_dict))

{'name': 'Hussain', 'courses': ['Math', 'PakStudy']}
2

In [59]:
print(my_dict.keys())

dict_keys(['name', 'courses'])

In [60]:
print(my_dict.values())

dict_values(['Hussain', ['Math', 'PakStudy']])

In [61]:
print(my_dict.items())

dict_items([('name', 'Hussain'), ('courses', ['Math', 'PakStudy'])])

# we also use for loop to display our dictionary

In [62]:
for key in my_dict:
    print(key)

name
courses

In [63]:
for key,value in my_dict.items():
    print(key,value)

name Hussain
courses ['Math', 'PakStudy']

# IF ELSE

In [64]:
if True:             # If only runs when our condition satifies / True
    print('Good')

Good

In [65]:
if False:
    print('Not Good')

# Use of NOT

In [66]:
# Not is used to switch boolean variable to true to false / false to true
login = False
if not login:
    print('Please Login')
else:
    print('Welcome')

Please Login

In [67]:
login = True
if not login:
    print('Please Login')
else:
    print('Welcome')

Welcome

# Object Identity == OR Is

In [68]:
a = [1,2,3]
b = [1,2,3]
print(a==b)
print(a is b) # False because they are two different object in memory as ids are shown belown
print(id(a))
print(id(b))

True
False
2830166262080
2830166261888

In [69]:
# If instead of this we write
b = a
# Now its shows true for both because ids for both are same
print(a == b)
print(a is b)
print(id(a))
print(id(b))

True
True
2830166262080
2830166262080

In [70]:
print(id(a) == id(b)) # We also write like this

True

# False Values

In [71]:
# False
# None
# Zero of any Numeric Type
# Empty Sequence i.e,().[]
# Empty Mapping {}

In [72]:
condition = False
if condition:
    print('Evaluated to True')
else:
    print('Evaluated to False')

Evaluated to False

In [73]:
condition = None
if condition:
    print('Evaluated to True')
else:
    print('Evaluated to False')

Evaluated to False

In [74]:
condition = 0
if condition:
    print('Evaluated to True')
else:
    print('Evaluated to False')

Evaluated to False

In [75]:
condition = ()
if condition:
    print('Evaluated to True')
else:
    print('Evaluated to False')

Evaluated to False

In [76]:
condition = []
if condition:
    print('Evaluated to True')
else:
    print('Evaluated to False')

Evaluated to False

In [77]:
condition = {}
if condition:
    print('Evaluated to True')
else:
    print('Evaluated to False')

Evaluated to False

# Loops & Iterations

In [78]:
nums = [1, 2, 3, 4, 5]

# For Loop

In [79]:
for num in nums:
    print(num)

1
2
3
4
5

In [80]:
for num in nums:
    if num == 3:
        break
    else:
        print(num)

1
2

In [81]:
for num in nums:
    if num == 3:
        continue
    else:
        print(num)

1
2
4
5

In [82]:
for num in nums:
    for letter in 'abc':
         print(num,letter)

1 a
1 b
1 c
2 a
2 b
2 c
3 a
3 b
3 c
4 a
4 b
4 c
5 a
5 b
5 c

In [83]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [84]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

# Functions

In [85]:
# Simple defining the function we cannot leave function empty we just write pass without leaving empty
def hello_func():
    pass

In [86]:
print(hello_func()) # Wriiten for function execution

None

In [87]:
print(hello_func) # Gives us name of function with Address

<function hello_func at 0x00000292F30AAB80>

In [88]:
def hello_func():
    print('Hello Function')

hello_func()

Hello Function

In [89]:
def hello_func():            # if we are returning value we can call the function using print for displaying value
    return'Hello Function'

hello_func()                # Dispplay Nothing
print(hello_func())
        # We also use bulit ijn function while calling our function i.e
print(hello_func().upper())

Hello Function
HELLO FUNCTION

In [90]:
def hello_func(greeting):
    return'{} Function'.format(greeting)

print(hello_func('Hi!'))

Hi! Function

In [91]:
def hello_func(greeting, name='you'):
    return'{} {}'.format(greeting, name)

print(hello_func('Hi!'))

Hi! you

In [92]:
def hello_func(greeting, name='you'):
    return'{} {}'.format(greeting, name)

print(hello_func('Hi!','Najaf'))

Hi! Najaf

# Important*

In [93]:
def std_info(*args, **kwargs):
    print(args)     # Student courses in this case
    print(kwargs)   # Student Random Info in this case

    
std_info('Math', 'Science','English', name='Ali', age =22)

('Math', 'Science', 'English')
{'name': 'Ali', 'age': 22}

In [94]:
def std_info(*args, **kwargs):
    print(args)     # Student courses in this case
    print(kwargs)   # Student Random Info in this case

courses = ['Math', 'Science','English']
info = {'name': 'Ali', 'age': 22}
std_info(courses, info)     # It gives us Wrong Result/Format

(['Math', 'Science', 'English'], {'name': 'Ali', 'age': 22})
{}

In [95]:
                          # So Correct Calling is
std_info(*courses, **info)

('Math', 'Science', 'English')
{'name': 'Ali', 'age': 22}

# Lambda / Anonymous Function

# We use lambda function when we have one line function

In [96]:
# simple function
def add(a,b):
    return a+b

add(2,3)

5

In [97]:
# lambda Function

add = lambda a,b: a+b

add(2,3)

5